<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/style.css">
   
</head>
<body>

<!-- <h2>This is a test, yo.</h2>

<h2>Here's how you set up and push to Heroku.</h2>

<ul>
<li>git init</li>
<li>heroku login</li>
<li>heroku create</li>
<li>echo "web: node server.js" > Procfile</li>
<li>git add . </li>
<li>git commit -m "changes"</li>
<li>git push heroku main</li>
</ul> -->

<h1>AOE4 Units</h1>
      

          <h1>The winning team is <%= winner %></h1>
          <h1><%=  %></h1>

        <h1><%=winner%>'s Stats </h1>
            
              
                
                <section>
                    <p><%=winningTeam.unit.name %></p> 
                    <p>Age <%=winningTeam.unit.age %></p> 
                    <p>Damage <%=winningTeam.unit.weapons[0].damage %></p>
                    <p>Armor <%=winningTeam.armor %></p>
                    <p>Armor Type <%=winningTeam.armorType %></p>
                    <p>Weapon Modifier <%=winningTeam.weaponModifiersValue %></p>
                    <p>Adjusted Damage <%=winningTeam.trueUnitDamage %></p>
                    <p>Team Damage</p>
                    <p>Attack Speed <%=winningTeam.unit.weapons[0].speed %></p>
                    <p>Hitpoints <%=winningTeam.unit.hitpoints %></p>
                    <p>Food Cost <%=winningTeam.unit.costs.food %></p>
                    <p>Wood Cost <%=winningTeam.unit.costs.wood %></p>
                    <p>Gold Cost <%=winningTeam.unit.costs.gold %></p>
                    <p>Total Cost <%=winningTeam.unit.costs.total %></p>
                </section>
        
              
                
          <h1>The losing team is <%= loser %></h1>
          <h1><%=  %></h1>

        <h1><%=loser%>'s Stats </h1>
            
                
                
                <section>
                    <p><%=losingTeam.unit.name %></p> 
                    <p>Age <%=losingTeam.unit.age %></p> 
                    <p>Damage <%=losingTeam.unit.weapons[0].damage %></p>
                    <p>Armor <%=losingTeam.armor %></p>
                    <p>Armor Type <%=losingTeam.armorType %></p>
                    <p>Weapon Modifier <%=losingTeam.weaponModifiersValue %></p>
                    <p>Adjusted Damage <%=losingTeam.trueUnitDamage %></p>
                    <p>Attack Speed <%=losingTeam.unit.weapons[0].speed %></p>
                    <p>Hitpoints <%=losingTeam.unit.hitpoints %></p>
                    <p>Food Cost <%=losingTeam.unit.costs.food %></p>
                    <p>Wood Cost <%=losingTeam.unit.costs.wood %></p>
                    <p>Gold Cost <%=losingTeam.unit.costs.gold %></p>
                    <p>Total Cost <%=losingTeam.unit.costs.total %></p>
                </section>
        
                


               <p> team one weapon modifier <%= teamOneWeaponModifiers %></p>
               <p>number </p>
               
                <p>team two weapon modifier <%= teamTwoWeaponModifiers %></p>
                <p>number </p>

                
                
            
        

<script src="/Full-stack-template/public/main2.js"></script>

</body>
</html>