<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/style.css">
    
    
</head>
<body>

<!-- <h2>This is a test, yo.</h2>

<h2>Here's how you set up and push to Heroku.</h2>

<ul>
<li>git init</li>
<li>heroku login</li>
<li>heroku create</li>
<li>echo "web: node server.js" > Procfile</li>
<li>git add . </li>
<li>git commit -m "changes"</li>
<li>git push heroku main</li>
</ul> -->
<div id="divThree">
    <h1>AOE4 Unit Counter Calculator</h1>
</div>
<div id="divThree">
<h2>Choose two units or two teams of units to compare</h2>
</div>

    
        <!-- <label for="addAnotherSelectRowForTeam1"></label>
    <button id="addAnotherSelectRowForTeam1">Add Row Team1</button>
    <label for="addAnotherSelectRowForTeam2"></label>
    <button id="addAnotherSelectRowForTeam2">Add Row Team2</button> -->

</div>

    <form action="/calculate" method="POST" name="form" id="form">
        <div id="divTwo">
            <div id="divOne">
                <label for="selectCivNumberOne">Select a Civ</label>
                <section class="sectionOne" id="sectionOne" name="sectionOne">
                    <select id="selectCivNumberOne" name="selectCivNumberOne" onchange="getUnits1(this), getAges1(this)">
                        <option value="ab">Abbasid</option>
                        <option value="ch">Chinese</option>
                        <option value="hr">Holy Roman Empire</option>
                        <option value="en">English</option>
                        <option value="de">Delhi Sultanate</option>
                        <option value="fr">French</option>
                        <option value="mo">Mongols</option>
                        <option value="ru">Rus</option>
                        <option value="ot">Ottomans</option>
                        <option value="ma">Malians</option>
                    </select>

                    <br>

                    <label for="selectUnitNumberOne">Select a Unit</label>              
                    <select id="selectUnitNumberOne" name="selectUnitNumberOne" title="optionForSelection1"       class="selectNumberOne"  onchange="agesThenTechs1()">
                        
                        <% for(let i=0; i < info.length; i++) {%>
                
                            <option id="selectedUnit1" value="<%= info[i]._id  %>"> <%= info[i] %></option>
                            <!-- <option id="selectedUnit1" value="<%= info[i]._id  %>"> <%= info[i].name %> (Age <%= info[i].age %>) Civs: <%= info[i].civs %></option> -->
                            
                                
                            <% } %>       
                
                    </select>
                    <!-- to select civ -->
                    <br>
                    <label for="selectAgeNumberOne">Choose an Age</label>
                    <select id="selectAgeNumberOne" name="selectAgeNumberOne" title="agesForSelection1"       class="selectNumberOne"  onchange="getTechs1(this)">
                        
                            
                
                    </select>
                    <br>

                    <label for="numberOne">Select a number of Units</label>
                    <input id="numberOne" type = "number" name="numberOne" placeholder="1" value="1" min="1">
                    
                    <br>

                    <label for="techSelectOne">Select a Tech</label>
                    <select id="techSelectOne" id="techSelectOne" multiple>
                        
                    </select>
                    
                </section>
            </div>
            <div id="divOne">
                <label for="selectCivNumberTwo">Select a Civ</label>
                <section class="sectionOne" id="sectionOne" name="sectionOne">
                    <select id="selectCivNumberTwo" name="selectCivNumberTwo" onchange="getUnits2(this), getAges2(this), getTechs2()">
                        <option value="ab">Abbasid</option>
                        <option value="ch">Chinese</option>
                        <option value="hr">Holy Roman Empire</option>
                        <option value="en">English</option>
                        <option value="de">Delhi Sultanate</option>
                        <option value="fr">French</option>
                        <option value="mo">Mongols</option>
                        <option value="ru">Rus</option>
                        <option value="ot">Ottomans</option>
                        <option value="ma">Malians</option>
                    </select>

                    <br>

                    <label for="selectUnitNumberTwo">Select a Unit</label>              
                    <select id="selectUnitNumberTwo" name="selectUnitNumberTwo" title="optionForSelection2"       class="selectNumberTwo"  onchange="agesThenTechs2()" >
                        
                        <% for(let i=0; i < info.length; i++) {%>
                
                            <option id="selectedUnit1" value="<%= info[i]._id  %>"> <%= info[i] %></option>
                            <!-- <option id="selectedUnit1" value="<%= info[i]._id  %>"> <%= info[i].name %> (Age <%= info[i].age %>) Civs: <%= info[i].civs %></option> -->
                            
                                
                            <% } %>       
                
                    </select>
                    <!-- to select civ -->
                    <br>
                    <label for="selectAgeNumberTwo">Choose an Age</label>
                    <select id="selectAgeNumberTwo" name="selectAgeNumberTwo" title="agesForSelection2"       class="selectNumberOne"  onchange="getTechs2(this)" >
                        
                            
                
                    </select>
                    <br>

                    <label for="numberTwo">Select a number of Units</label>
                    <input id="numberTwo" type = "number" name="numberTwo" placeholder="1" value="1" min="1">
                    
                    <br>

                    <label for="techSelectTwo">Select a Tech</label>
                    <select id="techSelectTwo" name="techSelectTwo" multiple>
                        
                    </select>
                    
                </section>
            </div>
            <br>
            
        </div>
        <div id = "divFour">
            <button id= 'submit' type="submit">Submit</button>
        </div>
        
        <br>
        
        
    </form>
    
    
   
    
    
    
    
    

<script src="/main.js"></script>


</body>
</html>